*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

/* header design */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: transparent;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 3em;
}

.header-image {
    background-image: url(Images/40637dd9b0240098474b6d8dd9487d8c\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 20%;
    filter: brightness(20%);
    height: 150px;
    position: relative;
}

.header ul {
    list-style: none;
}

.header ul a {
    cursor: pointer;
    color: white;
}

.header h1 {
    font-size: 2em;
}

/* SEARCH BAR */
.search-bar {
    position: relative;
    width: max-content;
    margin: -1.2em auto;
    z-index: 2;
    display: flex;
    border-radius: 5px;
    align-items: center;
    width: 90%;
}

.search-bar input {
    position: relative;
    padding: 0.5em 2.5em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    border: 1px solid #D1D5DB;
    flex: 1 1 auto;
    width: 100%;
}

.search-bar button {
    padding: 0.5em 1.5em;
    margin: 0 0 0 -5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background-color: #F9FAFB;
    border: 1px solid #D1D5DB;
}

.search-bar i {
    position: absolute;
    z-index: 2;
    top: 25%;
    left: 1%;
}

/* Default message for finding movie */

.default-text {
    color: #DFDDDD;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 9em;
    gap: 15px;
}

/* Movie box container */

.movie-container,
.movie-details,
.watchist-button,
.movie-content,
.movie-header {
    display: flex;
}

.movie-container {
    justify-content: center;
    align-items: center;
    margin: 1em 3em;
    gap: 20px;
    line-height: 1.5;
    grid-area: "content";
    padding-bottom: 2em;
    border-bottom: #D1D5DB 1px solid;
}

.movie-container img {
    width: 99px;
    height: 147.411px;
}

.movie-content {
    flex-direction: column;
    gap: 7px;
    font-size: 0.75rem;
}

.movie-details {
    gap: 10px;
}

.movie-header {
    align-items: center;
    gap: 15px;
}

.watchist-button {
    width: max-content;
}

.movie-search-area {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    margin-top: 3em;
    width: 95%;
    margin-right: 2em;
}

/* Default error */


.does-not-exist {
    color: #DFDDDD;
    font-size: 1.5rem;
    display: none; /* Change this*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 9em;
    text-align: center;
}

/* Default message in watchlist area */

.default-watchlist-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20em;
    gap: 10px;
    margin-right: 1em;
    margin-left: 1em;
}

.default-watchlist-msg h3 {
    color: #787878;
    font-size: 2rem;
}

.default-watchlist-msg div {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.default-watchlist-msg div p {
    color: #363636;
    font-weight: 800;
    font-size: 1.25rem;
}



/* Cursor settings */

i,
button {
    cursor: pointer;
}

.fa-star,
.search-bar i {
    cursor: auto;
}
